node-red.json
[
    {
        "id": "4370594c27beda52",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bbc0e97ca995ed03",
        "type": "mqtt in",
        "z": "4370594c27beda52",
        "name": "",
        "topic": "ESP32/WControl-Eric",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b6260db2142ec100",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "2b3edea052795272",
                "cd72a3abc34ba90e"
            ]
        ]
    },
    {
        "id": "8ccfae3218a8b1c0",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "4370594c27beda52",
        "name": "WhatsApp",
        "credtype": "account",
        "account": "0be7a82c67042e54",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 910,
        "y": 300,
        "wires": [
            [
                "7edd922e1f0fbfeb"
            ]
        ]
    },
    {
        "id": "7edd922e1f0fbfeb",
        "type": "debug",
        "z": "4370594c27beda52",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "2b3edea052795272",
        "type": "switch",
        "z": "4370594c27beda52",
        "name": "Switch de Regras",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "100",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "300",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "89eb3c2cadb494a2"
            ],
            [
                "85b1ece8fd44508e"
            ]
        ]
    },
    {
        "id": "89eb3c2cadb494a2",
        "type": "function",
        "z": "4370594c27beda52",
        "name": "function 1",
        "func": "msg.payload = \"Situação Crítica, transbordamento iminente. Distância: \" + msg.payload+\"cm\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "8ccfae3218a8b1c0"
            ]
        ]
    },
    {
        "id": "85b1ece8fd44508e",
        "type": "function",
        "z": "4370594c27beda52",
        "name": "function 2",
        "func": "msg.payload = \"Reservatório com pouca água. Distância: \" + msg.payload+\"cm\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "8ccfae3218a8b1c0"
            ]
        ]
    },
    {
        "id": "cd72a3abc34ba90e",
        "type": "influxdb out",
        "z": "4370594c27beda52",
        "influxdb": "051e54cce23789b4",
        "name": "Bucket Arduino",
        "measurement": "Centímetros",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "d30107d1d4db1f31",
        "bucket": "Bucket Arduino",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "b6260db2142ec100",
        "type": "mqtt-broker",
        "name": "BROKER HIVEMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0be7a82c67042e54",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Eric IOT"
    },
    {
        "id": "051e54cce23789b4",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Bucket Arduino 2.0",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": true
    }
]
